<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <%= debug @article.inspect %>
  <li><%= button_to "Destroy", article_path(@article),  method: :delete, 
                data: { confirm: "Are you sure?" }, 
                class: "btn btn-link p-0 m-0 align-baseline" %></li>
</ul>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form', article: @article %>
